---
name: Build CV PDF

"on":
  push:
  pull_request:

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Lint with chktex
        uses: j2kun/chktex-action@v2
        with:
          lint-all: true

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Compile document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: MartinMadsenCV.tex
          latexmk_use_xelatex: true

      - name: Upload PDF
        uses: actions/upload-artifact@v6
        with:
          name: CV
          path: MartinMadsenCV.pdf
